<%= fwml :page, :permapath=>@permapath, :title=>@title do %>
  <fw:head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= yield :fw_head %>
  </fw:head>

  <fw:paragraph>
    <fw:title>
      <span style="float:left" class="pageTitle">
        <% if @title %>
          <%= @title %>
        <% else %>
          <%= raw( %(<fw:page-title path='/' />) ) %>
        <% end %>
      </span>
      <%= yield :fw_title %>
      <div class="clear clear_head"></div>
    </fw:title>
  
    <%= yield %>  
  </fw:paragraph>
<% end %>
