<%= fwml :page, :permapath=>@permapath, :title=>@title do %>
  <fw:head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= yield :fw_head %>
    <div class="clear"></div>
  </fw:head>

  <fw:paragraph>
    <fw:title>
      <span style="float:left" class="pageTitle">
        <%= raw( %(<fw:page-title path='/' />) ) %>
        <%= yield :fw_title %>
      </span>
      <div class="clear"></div>
    </fw:title>
  
    <%= yield %>  
  </fw:paragraph>
<% end %>