<%= fwml :page, :permapath=>@permapath, :title=>@title do %>
  <fw:head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'styles' %>
    <%= yield :fw_head %>
    <% if @jquery_noconflict %>
      <%= render :partial=>'shared/jquery_noconflict' %>
    <% end %>
  </fw:head>

  <fw:paragraph>
    <fw:title>
      <span style="float:left" class="pageTitle">
        <% if @page_title %>
          <%= @page_title %>
        <% else %>
          <%= raw( %(<fw:page-title path='/' />) ) %>
        <% end %>
        <%= yield :fw_page_title %>
      </span>
      <%= yield :fw_title %>
      <div class="clear clear_head"></div>
    </fw:title>
  
    <%= yield %>  
  </fw:paragraph>

  <%= yield :fw_after %>
<% end %>
